<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="tcp://mr2r9za6fwrm4r.messaging.solace.cloud:55555" />
    <add key="username" value="solace-cloud-client" />
    <add key="password" value="ct1p211o5935vffdjs3i6kj2u8" />
    <add key="messageVpn" value="event-portal-demo" />
    <!-- Client Name must be unique-->
    <add key="clientName" value="" />
    <!-- Automatic reconnect attempt for max 5 mins -->
    <add key="reconnectRetries" value="5" />
    <add key="connectRetries" value="1" />
    <add key="connectRetriesPerHost" value="20" />
    <add key="reconnectRetriesWaitInMsecs" value="3000" />
    <add key="reapplySubscription" value="true" />
    <!-- Useful for troubleshooting without impacting performance -->
    <add key="apiLogLevel" value="Notice" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>